@import 'colors';

.summary-form {
  display: block;
  margin: auto;
  max-width: 500px;

  label {
    font-size: 15px;
  }
}

.form-button {
  border-radius: 8px;
  width: 90px;
  margin: auto;
  display: block;
  margin-top: 15px;
  font-weight: bold;

  a {
    color: $white;
  }
}

.form-title {
  color: $purple;
  font-weight: bold;
}

.input-field {
  border-radius: 20px;
  padding: 20px;
}
