@import 'colors';

.profile-tile {
  background: $purple;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  max-width: 170px;
  text-align: center;

  a {
    color: $white;
    font-size: 20px;
    font-weight: bold;
  }

  a:hover {
    color: $blue;
  }
}

.profiles {
  margin: 40px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
}
